{% extends 'core/base.html' %}
{% block title %}
{{ title }}
{% endblock title %}
{% block body %}
<div class="container">
    <div class="row">
        <div class="col-5 offset-1">
            <h1>Погода в вашем городе</h1>
            <form action="" method="POST">
                {% csrf_token %}
                <label for="city">Город</label>
                {{ form.name }}
                <input type="submit" name="send" value="Узнать" class="mt-3 btn btn-success">
            </form>
        </div>
        <div class="col-4 offset-1">
            <h1>Информация</h1>

            {% for info in all_info %}

            <div class="alert alert-info">
                <div class="row">
                    <div class="col-9">
                        <b>Город: </b> {{ info.city }}<br>
                        <b>Температура: </b> {{ info.temp }} <sup>о</sup><br>
                        <b>Макс. температура: </b> {{ info.temp_max }} <sup>о</sup><br>
                        <b>Мин. температура: </b> {{ info.temp_min }} <sup>о</sup><br>
                    </div>
                    <div class="col-2 offset-1">
                        <img src="http://openweathermap.org/img/w/{{ info.icon }}.png" alt="Фото погоды" class="img-thumbnail">
                    </div>
                    <form action="{% url 'remove_city' info.city %}" method="POST" class="mt-2">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger btn-sm">Удалить</button>
                    </form>
                </div>
            </div>

        {% endfor %}

        </div>
    </div>
</div>
{% endblock body %}