<header class="p-3 mb-3 border-bottom">
  <div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
      <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 link-body-emphasis text-decoration-none">
        <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"></use></svg>
      </a>

      <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
        <li><a href="{% url 'home' %}" class="nav-link px-2 link-secondary">Главная</a></li>
        <li><a href="{% url 'info' %}" class="nav-link px-2 link-body-emphasis">Информация</a></li>
        <li><a href="https://openweathermap.org/faq" class="nav-link px-2 link-body-emphasis">Документация</a></li>
      </ul>

        <div class="dropdown text-end">
          <a href="#" class="d-block link-body-emphasis text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
            <img src="https://github.com/koyaware.png" alt="koyaware" width="32" height="32" class="rounded-circle">
          </a>
          <ul class="dropdown-menu text-small">
            <li><a class="dropdown-item" href="{% url 'info' %}">{{ info_header }}</a></li>
            <li><a class="dropdown-item" href="#" id="show-alert">Настройки</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="https://openweathermap.org/faq">Документация</a></li>
          </ul>
        </div>
    </div>
  </div>
</header>

<div class="container mt-3">
  <div id="alert-box" class="alert alert-info d-none d-flex justify-content-center" role="alert">
    <i class="bi bi-info-circle-fill me-2 "></i>
    Настраивать нечего, настроек нет, настройка для лузеров
  </div>
</div>

<script>
  document.getElementById("show-alert").addEventListener("click", function() {
    let alertBox = document.getElementById("alert-box");
    alertBox.classList.remove("d-none");
    setTimeout(() => {
      alertBox.classList.add("d-none");
    }, 3000);
  });
</script>